*{
    margin: 0%;
    padding: 0%;
	font-family: Montserrat;
}

header{
    position: absolute;
    width: 100%;
    z-index: 2;
    background: rgba(17, 17, 17, 0.50);
    display: flex;
    align-items: center;
    justify-content: center;
    
    nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 90%;
        
	
        

        .logo{
            background-image: url(img/svg/logo-caviahue.svg);
            width: 100px;
            height: 100px;
            border: none;
            border-radius: 10px;
		}
        
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            text-decoration: none;
            width: 65%;
            
            
            
            li{
                list-style: none;
                align-items:center ;
                text-align: center;
                font-family: Montserrat;
                font-size: 1.25rem;
                font-style: normal;
                line-height: normal;
            }

            a{
                text-decoration: none;
                color: #E3D8C2;
                background-color: rgb(4, 42, 45);
                padding: 1rem 1rem;
                border-radius: 0.625rem;
                align-items:center ;
                text-align: center;
            }
        }

        .dropdown-content {
            display: none;
            position: absolute;
            margin-top: 20px;
            background-color: rgb(4, 42, 45);
            border-radius: 0.625rem;
            min-width: 100px;
            max-width: 180px;
            z-index: 1;
        }


        .dropdown-content a {
            color: #E3D8C2;
            padding: 1rem 1.3rem;
            text-decoration: none;
            display: block;
            text-align: left;
        }


        .dropdown-content a:hover {
            background-color: #E3D8C2;
            color: rgb(4, 42, 45);
        }


        .dropdown:hover .dropdown-content {
            display: block;
        }


        .dropdown:hover .dropbtn {
            background-color: #E3D8C2;
            color: rgb(4, 42, 45);
        }

        .dropbtn{
            font-weight: 700;
        }
    }
}

.bienvenida{
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    
    video{
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    h1{
        padding-bottom: 50px;
        padding-left: 30%;
        padding-right: 30%;
        align-items: center;
        position: relative;
        z-index: 2;
        color: #E3D8C2;
        text-align: center;
        font-family: Montserrat;
        font-size: 5em;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

.bajada{
    background-color: rgb(17, 17, 17);
    width: 100%;
    height: auto;
    
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 70px;
        overflow: hidden;
    }
    
    .carousel {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        width: 100%;
        max-width: 1200px;
    }
    
    button {
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover; 
        height: 400px;
        width: 400px;
        width: auto;
        background-position: center;
        border: none;
        text-align: center;
        padding: 10px;
        color: #E3D8C2; 
        font-size: 3rem;
        font-weight: bold;
        transition: 0.3s;
    }


    #ski-rental {
        background-image: url('img/index/ski\ rental.jpg');
    }
    #pases {
        background-image: url('img/index/pases.jpg');
    }
    #excursiones {
        background-image: url('img/index/excursiones.jpg');
    }
    
    .presentacion{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3.75rem;
        margin-right: 7%;
        margin-left: 7%;
        padding-top: 70px;
    

        h2{
            color: #E3D8C2;
            text-align: center;
            font-family: Montserrat;
            font-size: 3rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        p{
            color: #E3D8C2;
            text-align: center;
           /* leading-trim: both;
            text-edge: cap; */
            font-family: Montserrat;
            font-size: 1.562rem;

        }


    }
    
    .botonerainviernoverano{
        width: 100%;
        margin-top: 70px;
        padding-bottom: 140px;
        display: flex;
        flex-direction: row;
        align-items:start;
        justify-content: center;
        
        .botonybajada1{
            display: flex;
            flex-direction: column;
            align-items: center;
        
            .boton1checkbox {
                display: none;
            }

            .boton1 {
                display: inline-block;
                width: 60%;
                padding: 10px 60px;
                cursor: pointer;
                border: none;
                border-radius: 10px;
                text-align: center;
                color: #E3D8C2;
                font-family: 'Montserrat', sans-serif;
                font-size: 2.5rem;
                font-weight: 700;
                line-height: normal;
                background-color: #02776D;
                transition: background-color 0.3s, transform 0.3s;
            }

            .boton1:hover {
                background-color: #015A53; 
                transform: scale(1.05);
            }

            .textoyboton1 {
                display: none;
                align-items: center;
                margin-top: 20px;
                background-color: #02776D;
                border-radius: 10px;
                width: 490px;

                p{
                    padding-left: 35px;
                    padding-right: 35px;
                    padding-top: 40px;
                    padding-bottom: 40px;
                    overflow: hidden;
                    color: #E3D8C2;
                    text-overflow: ellipsis;
                    font-family: Montserrat;
                    font-size: 1.5625rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            
                button{
                    background-color:#02776D;
                    margin-left: 30%;
                    margin-bottom: 40px;
                    width: 11.3125rem;
                    height: 3.0625rem;
                    padding: 0.375rem 1.25rem;
                    justify-content: center;
                    align-items: center;
                    flex-shrink: 0;
                    border: 3px solid #E3D8C2;
                    color: #E3D8C2;
                    text-align: center;
                    font-family: Montserrat;
                    font-size: 1.75rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    transition: 0.3s;
                }
                
                button:hover{
                    background:#E3D8C2;
                    color: #02776D;
                }
                
            }
            
            .boton1checkbox:checked + .boton1 + .textoyboton1 {
                display: block;
            }
        }
    
        .botonybajada2{
            display: flex;
            flex-direction: column;
            align-items: center;
        
            .boton2checkbox {
                display: none;
            }

            .boton2 {
                display: inline-block;
                width: 60%;
                padding: 10px 60px;
                cursor: pointer;
                border: none;
                border-radius: 10px;
                text-align: center;
                color: #E3D8C2;
                font-family: 'Montserrat', sans-serif;
                font-size: 2.5rem;
                font-weight: 700;
                line-height: normal;
                background-color: #002034;
                transition: background-color 0.3s, transform 0.3s;
            }

            .boton2:hover {
                background-color: #002034; 
                transform: scale(1.05);
            }

            .textoyboton2 {
                display: none;
                align-items: center;
                margin-top: 20px;
                background-color: #002034;
                border-radius: 10px;
                width: 490px;

                p{
                    padding-left: 35px;
                    padding-right: 35px;
                    padding-top: 40px;
                    padding-bottom: 40px;
                    overflow: hidden;
                    color: #E3D8C2;
                    text-overflow: ellipsis;
                    font-family: Montserrat;
                    font-size: 1.5625rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            
                button{
                    background-color:#002034;
                    margin-left: 30%;
                    margin-bottom: 40px;
                    width: 11.3125rem;
                    height: 3.0625rem;
                    padding: 0.375rem 1.25rem;
                    justify-content: center;
                    align-items: center;
                    flex-shrink: 0;
                    border: 3px solid #E3D8C2;
                    color: #E3D8C2;
                    text-align: center;
                    font-family: Montserrat;
                    font-size: 1.75rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    transition: 0.3s;
                }
                
                button:hover{
                    background:#E3D8C2;
                    color: #002034;
                }
                
            }
            
            .boton2checkbox:checked + .boton2 + .textoyboton2 {
                display: block;
            }
        }
    }
}    

.escuelas-de-ski{
    
    h3{
        background: #042A2D;
        display: flex;
        width: 100%;
        padding: 5rem 0rem;
        justify-content: center;
        align-items: center;
        color: #E3D8C2;
        text-align: center;
        font-size: 3.125rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }


    .escuelas{
        display: flex;
        width: 100%;
        margin-top: 70px;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
        gap: 2.5rem;
        flex-wrap: wrap;
        overflow: hidden; 
        position: relative; 
        
        .guarderia-los-pumitas{
            display: flex;
            width: 25%;
            height: auto;
            padding: 3.125rem 1.875rem 0.1875rem 1.875rem;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            border-radius: 2.5625rem;
            background: #042A2D;

            img{
                border-radius: 10px;
                width: 90%;
                height: auto;
                flex-shrink: 0;
            }
        
            p{
                color: #E3D8C2;
                text-align: center;
                font-size: 1.25rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        
            h4{
                color: #E3D8C2;
                text-align: center;
                font-size: 1.875rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        
            button{
                background: #042A2D;
                display: flex;
                width: 11.3125rem;
                height: 3.0625rem;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
                border: 3px solid #E3D8C2;
                color: #E3D8C2;
                text-align: center;
                font-size: 1.75rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-bottom: 60px;
                transition: 0.3s,
            }
        }
    
        .jardin-de-nieve{
            display: flex;
            width: 25%;
            height: auto;
            padding: 3.125rem 1.875rem 0.1875rem 1.875rem;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            border-radius: 2.5625rem;
            background: #042A2D;

            img{
                border-radius: 10px;
                width: 90%;
                height: auto;
                flex-shrink: 0;
            }
        
            p{
                color: #E3D8C2;
                text-align: center;
                font-size: 1.25rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        
            h4{
                color: #E3D8C2;
                text-align: center;
                font-size: 1.875rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        
            button{
                background: #042A2D;
                display: flex;
                width: 11.3125rem;
                height: 3.0625rem;
                padding: 0.375rem 1.25rem;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
                border: 3px solid #E3D8C2;
                color: #E3D8C2;
                text-align: center;
                font-size: 1.75rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-bottom: 60px;
                transition: 0.3s,
            }
        }
        
        .club-junior{
            display: flex;
            width: 25%;
            height: auto;
            padding: 3.125rem 1.875rem 0.1875rem 1.875rem;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            border-radius: 2.5625rem;
            background: #042A2D;

            img{
                border-radius: 10px;
                width: 90%;
                height: auto;
                flex-shrink: 0;
            }
        
            p{
                color: #E3D8C2;
                text-align: center;
                font-size: 1.25rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        
            h4{
                color: #E3D8C2;
                text-align: center;
                font-size: 1.875rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        
            button{
                background: #042A2D;
                display: flex;
                width: 11.3125rem;
                height: 3.0625rem;
                padding: 0.375rem 1.25rem;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
                border: 3px solid #E3D8C2;
                color: #E3D8C2;
                text-align: center;
                font-size: 1.75rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-bottom: 60px;
                transition: 0.3s,
            }
        }
    
        .clases-colectivas{
            display: flex;
            width: 25%;
            height: auto;
            padding: 3.125rem 1.875rem 0.1875rem 1.875rem;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            border-radius: 2.5625rem;
            background: #042A2D;

            img{
                border-radius: 10px;
                width: 90%;
                height: auto;
                flex-shrink: 0;
            }
        
            p{
                color: #E3D8C2;
                text-align: center;
                font-size: 1.25rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        
            h4{
                color: #E3D8C2;
                text-align: center;
                font-size: 1.875rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        
            button{
                background: #042A2D;
                display: flex;
                width: 11.3125rem;
                height: 3.0625rem;
                padding: 0.375rem 1.25rem;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
                border: 3px solid #E3D8C2;
                color: #E3D8C2;
                text-align: center;
                font-size: 1.75rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-bottom: 60px;
                transition: 0.3s,
            }
        }

        .clases-particulares{
            display: flex;
            width: 25%;
            height: auto;
            padding: 3.125rem 1.875rem 0.1875rem 1.875rem;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            border-radius: 2.5625rem;
            background: #042A2D;

            img{
                border-radius: 10px;
                width: 90%;
                height: auto;
                flex-shrink: 0;
            }
        
            p{
                color: #E3D8C2;
                text-align: center;
                font-size: 1.25rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        
            h4{
                color: #E3D8C2;
                text-align: center;
                font-size: 1.875rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        
            button{
                background: #042A2D;
                display: flex;
                width: 11.3125rem;
                height: 3.0625rem;
                padding: 0.375rem 1.25rem;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
                border: 3px solid #E3D8C2;
                color: #E3D8C2;
                text-align: center;
                font-size: 1.75rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-bottom: 60px;
                transition: 0.3s,
            }
            

            
        }
        
        button:hover{
            background:#E3D8C2;
            color: #042A2D;
        }
    
    }
}

.alojamientos{
    padding-top: 140px;
    
    h3{
        background: #02776D;
        display: flex;
        width: 100%;
        padding: 5rem 0rem;
        justify-content: center;
        align-items: center;
        color: #E3D8C2;
        text-align: center;
        font-size: 3.125rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .hoteles{
        display: flex;
        width: 100%;
        margin-top: 70px;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
        gap: 2.5rem;
        flex-wrap: wrap;
        overflow: hidden; 
        position: relative; 

        .hotel-nevado{
            display: flex;
            width: 30%;
            height: auto;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2.5rem;
            border-radius: 2.5rem;
            background: #02776D;

            img{
                margin-top: 30px;
                border-radius: 1.875rem;
                width: 85%;
                height: auto;
                flex-shrink: 0;
            }

            h4{
                color: #E3D8C2;
                text-align: center; 
                font-size: 1.875rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        
            button{
                background: #02776D;
                display: flex;
                width: 11.3125rem;
                height: 3.0625rem;
                padding: 0.375rem 1.25rem;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
                border: 3px solid #E3D8C2;
                color: #E3D8C2;
                text-align: center;
                font-size: 1.75rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-bottom: 60px;
                transition: 0.3s,
            }
        }

        .grand-hotel{
            display: flex;
            width: 30%;
            height: auto;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2.5rem;
            border-radius: 2.5rem;
            background: #02776D;

            img{
                margin-top: 30px;
                border-radius: 1.875rem;
                width: 85%;
                height: auto;
                flex-shrink: 0;
            }

            h4{
                color: #E3D8C2;
                text-align: center;
                font-size: 1.875rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        
            button{
                background: #02776D;
                display: flex;
                width: 11.3125rem;
                height: 3.0625rem;
                padding: 0.375rem 1.25rem;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
                border: 3px solid #E3D8C2;
                color: #E3D8C2;
                text-align: center;
                font-size: 1.75rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-bottom: 60px;
                transition: 0.3s,
            }
        }
        
        button:hover{
            background:#E3D8C2;
            color: #02776D;
        }
    
    }
}

.excursiones{
    padding-top: 140px;

    h3{
        background: #042A2D;
        display: flex;
        width: 100%;
        padding: 5rem 0rem;
        justify-content: center;
        align-items: center;
        color: #E3D8C2;
        text-align: center;
        font-size: 3.125rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    
    .excursionestarjetas{
        display: flex;
        width: 100%;
        margin-top: 70px;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
        gap: 2.5rem;
        flex-wrap: wrap;

        .moto-de-nieve{
            display: flex;
            width: 25%;
            height: auto;
            padding: 3.125rem 1.875rem 0.1875rem 1.875rem;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            border-radius: 2.5625rem;
            background: #042A2D;

            img{
                border-radius: 10px;
                width: 90%;
                height: auto;
                flex-shrink: 0;
            }
        
            p{
                color: #E3D8C2;
                text-align: center;
                font-size: 1.25rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        
            h4{
                width: 80%;
                color: #E3D8C2;
                text-align: center;
                font-size: 1.875rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        
            button{
                background: #042A2D;
                display: flex;
                width: 11.3125rem;
                height: 3.0625rem;
                padding: 0.375rem 1.25rem;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
                border: 3px solid #E3D8C2;
                color: #E3D8C2;
                text-align: center;
                font-size: 1.75rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-bottom: 60px;
                transition: 0.3s,
            }
        }

        .free-ride{
            display: flex;
            width: 25%;
            height: auto;
            padding: 3.125rem 1.875rem 0.1875rem 1.875rem;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            border-radius: 2.5625rem;
            background: #042A2D;

            img{
                border-radius: 10px;
                width: 90%;
                height: auto;
                flex-shrink: 0;
            }
        
            p{
                color: #E3D8C2;
                text-align: center;
                font-size: 1.25rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        
            h4{
                width: 80%;
                color: #E3D8C2;
                text-align: center;
                font-size: 1.875rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        
            button{
                background: #042A2D;
                display: flex;
                width: 11.3125rem;
                height: 3.0625rem;
                padding: 0.375rem 1.25rem;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
                border: 3px solid #E3D8C2;
                color: #E3D8C2;
                text-align: center;
                font-size: 1.75rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-bottom: 60px;
                transition: 0.3s,
            }
        }

        .vehiculos-oruga{
            display: flex;
            width: 25%;
            height: auto;
            padding: 3.125rem 1.875rem 0.1875rem 1.875rem;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            border-radius: 2.5625rem;
            background: #042A2D;

            img{
                border-radius: 10px;
                width: 90%;
                height: auto;
                flex-shrink: 0;
            }
        
            p{
                color: #E3D8C2;
                text-align: center;
                font-size: 1.25rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        
            h4{
                width: 80%;
                color: #E3D8C2;
                text-align: center;
                font-size: 1.875rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        
            button{
                background: #042A2D;
                display: flex;
                width: 11.3125rem;
                height: 3.0625rem;
                padding: 0.375rem 1.25rem;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
                border: 3px solid #E3D8C2;
                color: #E3D8C2;
                text-align: center;

                font-size: 1.75rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-bottom: 60px;
                transition: 0.3s,
            }
        }
    
        button:hover{
            background:#E3D8C2;
            color: #042A2D;
        }
    
    }

}
    

@media screen and (max-width: 600px) {
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        nav{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 30px;
            width: 70%;

            .logo{
                background-image: url(img/svg/logo-caviahue.svg);
                width: 100px;
                height: 100px;
                border: none;
                border-radius: 10px;
	        }
        
            ul{
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0%;
                padding: 0%;
                width: 100%;
                gap: 2%;
                
                a{
                    font-size: 17px;
                    padding: 0.5rem;
                }
            }
        
        }


    }
    .bienvenida{
        h1{
            font-size: 2rem;
        }
    }
    .bajada{
        .container {
            overflow-x: auto;
            scroll-snap-type: x mandatory;
        }
    
        .carousel {
            display: flex;
            width: 300%;
        }
    
        .item {
            flex: 0 0 70%;
            scroll-snap-align: center;
            font-size: 2rem;
        }
        .presentacion{
            h2{
                font-size:1.5rem;
            }

            p{
                font-size: 15px;
            }

            .container {
                overflow-x: auto;
                scroll-snap-type: x mandatory;
            }
        
            .carousel {
                display: flex;
                width: 300%;
            }
        
            .item {
                flex: 0 0 70%;
                scroll-snap-align: center;
            }
        }
        
        .botonerainviernoverano{
            width: 100%;
            margin-top: 70px;
            padding-bottom: 140px;
            gap: 20px;
            display: flex;
            flex-direction: column;
            align-items:center;
            justify-content: center;

            .botonybajada1{
                .boton1{
                    font-size:1.5rem;
                    padding: 10px 30px;
                }

                .textoyboton1{
                    width: 80%;

                    p{
                        font-size: 15px;
                    }

                    button{
                        margin-left: 35%;
                        padding: 0px;
                        font-size: 20px;
                        width: 30%;
                        height: 50px

                    }
                }
            }

            .botonybajada2{
                .boton2{
                font-size:1.5rem;
                    padding: 10px 30px;

                }

                .textoyboton2{
                    width: 80%;

                    p{
                        font-size: 15px;
                    }

                    button{
                        margin-left: 35%;
                        padding: 0px;
                        font-size: 20px;
                        width: 30%;
                        height: 50px;

                    }
                }
            }

        }
    }
    .escuelas-de-ski{
        h3{
            font-size: 2rem;
            padding-top: 5%;
            padding-bottom: 5%;
        }
        
        .escuelas{
            display: flex;
            flex-direction: row;
            justify-content: center;
            
            .guarderia-los-pumitas{
                width: 60%;
                p{
                    font-size: 15px;
                }
                h4{
                    font-size:1.5rem;
                }
                button{
                    font-size: 2rem;
                    width: 60%;
                    height: 3rem;
                }
            }
            
            .jardin-de-nieve{
                width: 60%;
                p{
                    font-size: 15px;
                }
                h4{
                    font-size:1.5rem;
                }
                button{
                    font-size: 2rem;
                    width: 60%;
                    height: 3rem;
                }
            }
            
            .club-junior{
                width: 60%;
                p{
                    font-size: 15px;
                }
                h4{
                    font-size:1.5rem;
                }
                button{
                    font-size: 2rem;
                    width: 60%;
                    height: 3rem;
                }
            }
            
            .clases-colectivas{
                width: 60%;
                p{
                    font-size: 15px;
                }
                h4{
                    font-size:1.5rem;
                }
                button{
                    font-size: 2rem;
                    width: 60%;
                    height: 3rem;
                }
            }
            
            .clases-particulares{
                width: 60%;
                p{
                    font-size: 15px;
                }
                h4{
                    font-size:1.5rem;
                }
                button{
                    font-size: 2rem;
                    width: 60%;
                    height: 3rem;
                }
            }
        }
    }
    .alojamientos{
        h3{
            font-size: 2rem;
            padding-top: 5%;
            padding-bottom: 5%;
        }
        .hoteles{
            .hotel-nevado{
                width: 60%;
                p{
                    font-size: 15px;
                }
                h4{
                    font-size:1.5rem;
                }
                button{
                    font-size: 2rem;
                    width: 60%;
                    height: 3rem;
                }
            }
            .grand-hotel{
                width: 60%;
                p{
                    font-size: 15rem;
                }
                h4{
                    font-size:1.5rem;
                }
                button{
                    font-size: 2rem;
                    width: 60%;
                    height: 3rem;
                }
            }
        }
    }
    .excursiones{
        h3{
            font-size: 2rem;
            padding-top: 5%;
            padding-bottom: 5%;
        }
        .excursionestarjetas{
            display: flex;
            flex-direction: row;
            justify-content: center;

            .moto-de-nieve{
                width: 60%;
                p{
                    font-size: 15px;
                }
                h4{
                    font-size:1.5rem;
                }
                button{
                    font-size: 2rem;
                    width: 60%;
                    height: 3rem;
                }
            }
            .free-ride{
                width: 60%;
                p{
                    font-size: 15px;
                }
                h4{
                    font-size:1.5rem;
                }
                button{
                    font-size: 2rem;
                    width: 60%;
                    height: 3rem;
                }
            }

            .vehiculos-oruga{
                width: 60%;
                p{
                    font-size: 15px;
                }
                h4{
                    font-size: 1.5rem;
                }
                button{
                    font-size: 2rem;
                    width: 60%;
                    height: 3rem;
                }
            }
        }
    }
    .Presentacion-informacion-titulo{
        font-size: 3.5rem;
    }
}
    /*-------------------PAGINA CONTACTO--------------------*/
.pagina_contactos {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    gap: 10px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url("img/actividades/banner-actividades.jpg") lightgray 50% / cover no-repeat;
    font-size: 4rem;
    color: #E3D8C2;
        h1{
            margin-left: 250px;
        }
    }
    
    /*-------------------RESERVAS--------------------*/
    
    .section_reservas, .section_sumatealequipo {
    display: flex;
    width: 100%;
    padding-bottom: 150px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    }
    
    .titulo_reservas {
        display: flex;
        width: 100%;
        padding: 80px 0px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background-color: #042A2D;
        color: #E3D8C2;
        font-size: 3rem;
    }
    
    .subtitulo_reservas {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: auto;
    text-align: center;
    color: #042A2D;
    flex-direction: column;
    font-size: 1.5rem;
    }
    
    /*-------------------FORMULARIO RESERVAS--------------------*/
    
    
    .boton_enviar_formulariosweb {
    color: #02776D;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    padding: 6px 20px;
    justify-content: center;
    align-items: center;
    border: 3px solid #02776D;
    background-color: transparent;
    cursor: pointer;
    }
    
    ::placeholder {
    color: #E3D8C2;
    font-style: italic;
    }
    
    .boton_enviar_formulariosweb:hover {
    color: #E3D8C2;
    background-color:#02776D;
    }
    
    .formulario_reservas {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    }
    
    .estilo_input {
    padding: 15px 280px 15px 30px;
    border-radius: 30px;
    background-color: #02776D;
    color: #E3D8C2;
    border: none;
    outline: none;
    }
    
    .contenedor_formulario {
    display: flex;
    padding: 30px 0px 30px 0px;
    align-items: flex-start;
    gap: 30px;
    }
    
    .columna_completar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    }
    
    .columna_escribinos {
    display: flex;
    padding: 15px 365px 165px 30px;border-radius: 30px;
    background-color: #02776D;
    align-items: center;
    color: #E3D8C2;
    border: none;
    outline: none;
    }
    
    /*-------------------SUSCRIBITE PARA MAS--------------------*/
    
    .formulario_subscribite {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    
    }
    
    .texto_subscribite, .texto_unite {
        color: #042A2D;
    }
    
    .texto_subscribite {
    font-size: 2rem;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    }
    
    .texto_unite {
    font-size: 1.5rem;
    }
    
    .ingresa_email {
        padding: 17px 600px 17px 30px;
        border-radius: 100px;
        background-color: #02776D;
        color: #E3D8C2;
        border: none;
        outline: none;
    }
    /*-------------------FIN RESERVAS--------------------*/
    
    /*-------------------SUMATE AL EQUIPO--------------------*/
    
    .completatusdatos {
    font-size: 2rem;
    font-weight: bold;
    }
    
    .columna_subircv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    }
    
    .subircv {
    display: flex;
    padding: 15px 365px 245px 30px;border-radius: 30px;
    background-color: #02776D;
    align-items: center;
    color: #E3D8C2;
    }
    
    .estilo_input_largo {
    padding: 15px 505px 15px 30px;
    border-radius: 30px;
    background-color: #02776D;
    color: #E3D8C2;
    }
    
    /*-------------------FIN SUMATE AL EQUIPO--------------------*/
    
    /*-------------------NUESTROS CONTACTOS--------------------*/
    
    .columnas_contactos {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 7.5rem;
    }
    
    .contactolista {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
    font-size: 1.25rem;
    color: #042A2D;
    }
    
    .contactolista li{
        display: inline-block;
        flex-direction: column;
        margin-right: 50px;
        font-size: 18px;
    }
    
    .contactolista li img {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
    }
    
    .titulocomollegar {
    font-size: 1.5rem;
    font-weight: bold;
    color: #042A2D;
    }
    
    .textocomollegar {
    font-size: 1.25rem;
    color: #042A2D;
    width: 39.375rem;
    }

/************************************************** ::::: GENERALES - Ro ::::: **************************************************/
.reservar-btn{
	background-color: transparent;
	width: 11.3125rem;
	height: 3.0625rem;
	border: 3px solid #E3D8C2;
	color: #E3D8C2;
	text-align: center;
	font-size: 1.75rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 60px;
	transition: 0.3s;
}

h4{
	display: flex;
	justify-content: center;
	align-items: center;
	color: #E3D8C2;
	font-family: Montserrat;
	font-size: 2rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

h6{
	color: #E3D8C2;
	text-align: center;
	font-family: Montserrat;
	font-size: 0.8rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

h5{
	color: #E3D8C2;
	text-align: center;
	font-family: Montserrat;
	font-size: 1rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

h3{
	color: #E3D8C2;
	font-family: Montserrat;
	font-size: 1.5625rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

h7{
	color: #E3D8C2;
	text-align: center;
	font-family: Montserrat;
	font-size: 50px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
/************************************************** ::::: PRESENTACION - Ro ::::: **************************************************/
.presentacion-ro{
	display: flex;
	width: auto;
	height: 650px;
	padding-left: 250px;
	align-items: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url("img/actividades/banner-actividades.jpg") lightgray 50% / cover no-repeat;
	font-family: Montserrat;
    font-size: 4.375rem;
	color: #E3D8C2;
	text-align: center;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
/************************************************** ::::: EXCURSIONES - Ro ::::: **************************************************/
/*abre banner excursiones*/
.banner-color{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
	background: #042A2D;
}

.banner-color h2{
	display: flex;
	justify-content: center;
	align-items: center;
	color: #E3D8C2;
	font-size: 3rem;
	font-style: normal;
	font-weight: 700;
}
/*cierre banner excursiones*/

.container {
    background-color: #00796b;
    border-radius: 10px;
    overflow: hidden;
    width: 80%;
    text-align: center;
}

.header .icon {
    margin-top: 20px;
    width: 40px;
}

.image-container img {
    width: 80%;
    height: auto;
	border-radius: 10px;
}

.content {
    padding: 20px;
}

.card {
    background-color: transparent;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    color: #E3D8C2;
}

.card h2 {
    font-size: 18px;
    margin: 0 0 10px;
}

.todos-los-article-excursiones{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 80px;
	padding-top: 10%;
	padding-bottom: 10%;
}

.excursiones-ro{
	display: flex;
	width: 100%;
	height: auto;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 40px;
	background: #FFF;
}
/*******************************************SECCION ESCUELA SKI - ro */
.banner-color{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
	padding: 80px 0px 80px 0px;
	background: #042A2D;
}

.banner-color h2{
	display: flex;
	justify-content: center;
	align-items: center;
	color: #E3D8C2;
	font-size: 3rem;
	font-style: normal;
	font-weight: 700;
}

.escuela-ski{
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 80px;
	border-radius: 40px;
	background: #FFF;
}

.todos-los-article-escuela-ski{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 80px;
	padding-top: 5%;
	padding-bottom: 10%;
}

.paquete-info-escuela-ski{
	display: flex;
	width: 50%;
	padding: 2% 5% 2% 5%;
	justify-content: center;
	align-items: flex-start;
	border-radius: 40px;
	background: #042A2D;
	gap: 5%
}

.foto-info-escuela-ski{
	display: flex;
	padding: 0px 40px;
	flex-direction: column;
	align-items: center;
	display: flex;
	width: auto;
	height: 50%;
	padding: 0px 22px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 18px;
	
}

.foto-escuela-ski{
	width: 100%;
	height: auto;
	border-radius: 30px;
}

.texto-info-escuela-ski{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 7px;
}

.texto-info-escuela-ski ul{
	color: #E3D8C2;
	font-family: Montserrat;
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5rem;
	list-style-type: none;
}

.texto-info-escuela-ski p{
	color: #E3D8C2;
	font-family: Montserrat;
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5rem;
	list-style-type: none;
}
/*******************************************SECCION VERANO - ro */
.banner-color-exlusivo-verano{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
	padding: 80px 0px 80px 0px;
	background: #002034;
}

.banner-color-exlusivo-verano h2{
	display: flex;
	justify-content: center;
	align-items: center;
	color: #E3D8C2;
	font-size: 3rem;
	font-style: normal;
	font-weight: 700;
}

.solo-verano{
	display: flex;
	width: 100%;
	height: auto;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 80px;
	border-radius: 40px;
	background: #FFF;
}

.todos-los-article-verano{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
	gap: 40px;
	flex-shrink: 0;
	flex-wrap: wrap;
	padding-top: 10%;
	padding-bottom: 10%;
}

.paquete-info-verano{ /*article*/
	display: flex;
	padding: 30px 30px 40px 30px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 47px;
	border-radius: 30px;
	background: #002034;
}

.foto-verano{ /*lo de adentro*/
	width: 26.5625rem;
	height: 22.1875rem;
	border-radius: 1.875rem;	
}

.info-verano{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

































/*******************************************SECCION PASES - ro */
.banner-color{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
	padding: 80px 0px 80px 0px;
	background: #042A2D;
}

.banner-color h2{
	display: flex;
	justify-content: center;
	align-items: center;
	color: #E3D8C2;
	font-size: 3rem;
	font-style: normal;
	font-weight: 700;
}

.pases{
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 80px;
}

.foto-lista-de-precios-pases{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: 80%;
	height: auto;
}

.paquete-info-pases{
	display: flex;
	width: 62%;
	padding: 40px 122px;
	justify-content: center;
	align-items: center;
	gap: 80px;
	border-radius: 20px;
	background: #042A2D;
	
}

.data-pases-1{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;	
}

.lista-no-punteada-pases{

}

.data-pases-2{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	
}

.lista-punteada-pases{

}

.data-pases-3{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}
.redes-sociales-pases{
	
}































/*******************************************SECCION SKI RENTAL - ro */
.banner-color-ski-rental{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
	padding: 80px 0px 80px 0px;
	background: #02776D;
}

.banner-color-ski-rental h2{
	display: flex;
	justify-content: center;
	align-items: center;
	color: #E3D8C2;
	font-size: 3rem;
	font-style: normal;
	font-weight: 700;
}

.ski-rental{
	display: flex;
	width: 100%;
	padding: 200px 0px 300px 0px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 80px;
	border-radius: 40px;
	background: #FFF;
}

.foto-lista-de-precios-ski-rental{
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}


.paquete-info-ski-rental{
	display: flex;
	padding: 40px 122px;
	justify-content: center;
	align-items: center;
	gap: 80px;
	border-radius: 20px;
	background: #02776D;

}

/*
.escuela-ski{
	display: flex;
	width: 100%;
	padding-top: 200px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 80px;
}

.todos-los-article-escuela-ski{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 80px;
	box-sizing: border-box;
}


.paquete-info-escuela-ski{
	display: flex;
	width: 50%;
	height: auto;
	padding: 70px 80px 40px 80px;
	justify-content: center;
	align-items: flex-start;
	border-radius: 40px;
	background: #042A2D;
}

.foto-info-escuela-ski{
	padding: 0px 40px;
	display: flex;
	flex-direction: column;
	align-items: center; 
}

.foto-escuela-ski{
	width: 100%;
	height: auto;
	border-radius: 30px;
}







.texto-info-escuela-ski p{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.625rem;
	width: 64.0625rem;
	color: #E3D8C2;
	font-family: Montserrat;
	font-size: 1.5625rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	color: #E3D8C2;
	leading-trim: both;
	text-edge: cap;
	font-family: Montserrat;
	font-size: 1.5625rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
*/


/*-------------------INFORMACION--------------------*/

.Presentacion-informacion{
    display: flex;
	width: auto;
	height: 650px;
	padding-left: 15%;
	align-items: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url("img/informacion/banner-informacion.jpg") lightgray 50% / cover no-repeat;
	font-family: Montserrat;
    font-size: 4.375rem;
	color: #E3D8C2;
	text-align: center;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.conocenos-informacion{
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3{
        display: flex;
        width: 100%;
        padding: 5rem 0rem;
        justify-content: center;
        align-items: center;
        background: #042A2D;
        font-size: 3rem;
        font-style: normal;
        font-weight: 700;
    }

    h4{
        color: #111;
        text-align: center;
        font-size: 3.125rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-top: 70px;
    }

    p{
        color: #111;
        font-size: 1.5625rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 5%;
        margin-right: 5%;
        text-align: center;
        padding-top: 70px;
    }

    img{
        width: 70%;
        border-radius: 20px;
        padding-top: 70px;
        padding-bottom: 140px;
    }
}

.pistas-informacion{
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3{
        display: flex;
        width: 100%;
        padding: 5rem 0rem;
        justify-content: center;
        align-items: center;
        background: #02776D;
        font-size: 3rem;
        font-style: normal;
        font-weight: 700;
    }

    img{
        width: 70%;
        padding-top: 70px;
    }

    p{
        width: 70%;
        color: #02776D;
        text-align: center;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-top: 70px;
        padding-bottom: 140px;
    }
}

.ubicacion-informacion{
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h3{
        display: flex;
        width: 100%;
        padding: 5rem 0rem;
        justify-content: center;
        align-items: center;
        background: #042A2D;
        font-size: 3rem;
        font-style: normal;
        font-weight: 700;
    }
    .bajada-ubicacion-informacion{
        width: 70%;
        padding-top: 70px; 
    }

    .fondocuadrados{
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        width: 70%;
        background-color: #042A2D;
        border-radius: 2.5rem;
        list-style: none;
        padding: 30px;
    }
    #titulos{
        color: #E3D8C2;
        font-size: 3rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    #subtitulos{
        color: #E3D8C2;
        font-size: 1.5625rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    #textos{
        color: #E3D8C2;
        font-size: 1.5625rem;
        font-style: normal;
        line-height: normal; 
        width: 100%;
    }
    li{
        padding: 30px;
    }
}

/*-------------------ALOJAMIENTOS--------------------*/

.body-alojamientos{
    font-family: Montserrat;
    margin:0px;
    padding:0px;
    .titulo-principal-alojamientos{
        color: #E3D8C2;
        text-align: left;
        font-size: 4.375rem;
        font-style: normal;
        font-weight: 700;
        width:100%;
        background-color: black;
    }
    
    .titulo_grand_hotel,.titulo_hotel_nevado{
    background-color:#042A2D;
    color: #E3D8C2;
    font-size: 3.125rem;
    width: 100%;
    padding: 5rem 0rem;
    justify-content: center;
    align-items: center;
    display: flex;
    }
    
    .texto-hoteles{
    color: #042A2D;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 400;
    display: flex;
    width: 59rem;
    height:auto;
    }
    
    .imagen-grand-hotel{
        width: 30.8125rem;
        height: 28.625rem;
        background-color: blue;
        margin-right: 5rem;
        margin-left: 12rem;
    }
    
    .imagen-hotel-nevado{
        width: 30.8125rem;
        height: 28.625rem;
        background-color: blue;
        margin-left: 12rem;
        margin-right: 5rem;
        
    }
    
    .flex-grand-hotel{
        display:flex;
        padding-top: 5rem;
        padding-bottom: 5rem;
        margin-right: 12rem;
    
    }
    
    .flex-hotel-nevado{
        display:flex;
        padding-top: 5rem;
        padding-bottom: 5rem;
        margin-right: 12rem;
    }
    
    
    
    
    
    /-------hotel nevado-------/
    .titulo_hotel_nevado{
        display: flex;
        width: 100%;
        padding: 80px 0px;
        justify-content: center;
        align-items: center;
    }
    
    .reservar{
        padding-bottom: 200px;
    }
}